<div class="row"> 
   <h1><span>Expreriencia laboral</span></h1>
     <div class="col-lg-11">
      
  
    <ul>
       <li class="adelante">
          <h3><strong>.</strong> Trabajo 1</h3> - <h3> (Año)</h3>
      </li>
       
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt molestiae dolorem aut! Iure cupiditate eaque accusantium? Tempora, dolores provident dicta eius impedit maiores omnis assumenda laborum neque suscipit minima consequatur.</p>
   </ul>

<ul>
    <li class="adelante">
        <h3><strong>.</strong> Trabajo 2</h3> - <h3> (Año)</h3>
    </li>
    
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt molestiae dolorem aut! Iure cupiditate eaque accusantium? Tempora, dolores provident dicta eius impedit maiores omnis assumenda laborum neque suscipit minima consequatur.</p>
</ul>

<ul>
    <li class="adelante">
        <h3><strong>.</strong> Trabajo 3</h3> - <h3> (Año)</h3>
    </li>
    
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt molestiae dolorem aut! Iure cupiditate eaque accusantium? Tempora, dolores provident dicta eius impedit maiores omnis assumenda laborum neque suscipit minima consequatur.</p> <br><br>
</ul>
  
</div>
</div>