.row {
    padding: 2px;
}

div {
    background-color: #eef5f9;
}

h3,h3 {
    display: inline;
    
}

 

 /*espacio de la experiencia laboral*/
h1 span {
    margin-left: 15px;
}

/* Espacio de los trabajos */

.adelante {
    display: inline;
    margin-left:8%;
}
/* Espacio de los parrafos*/
p {
   margin-left: 8%;
}